on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*.*.*"

name: tests

concurrency:
  group: tests

jobs:
  tests:
    strategy:
      matrix:
        python-version: ["3.10.9", "3.11.5", "3.12.2"]
        poetry-version: ["1.8.2"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: actions/setup-python@v4
        name: Setup Python
        with:
          python-version: ${{ matrix.python-version }}

      - uses: abatilo/actions-poetry@v3
        name: Install Poetry
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Update Poetry cache location
        run: poetry config virtualenvs.in-project true

      - id: venv_cache
        uses: actions/cache@v3
        name: Cache or Restore venv
        with:
          path: .venv
          key: venv-${{ matrix.python-version }}-${{ matrix.poetry-version }}-lock-${{ hashFiles('poetry.lock') }}

      - name: Install Poetry Dependencies
        run: poetry install
        if: steps.venv_cache.outputs.cache-hit != 'true'

      - name: Run ruff
        run: poetry run ruff check .

      - name: Run ruff format
        run: poetry run ruff format --check .

      - name: Run tests
        run: poetry run pytest

  release:
    if: github.ref == 'refs/heads/main'
    needs: [tests]
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
